@font-face {
  font-family: "Finlandica";
  src: url("app/assets/fonts/hinted-subset-Finlandica-BoldItalic.woff2")
      format("woff2"),
    url("app/assets/fonts/hinted-subset-Finlandica-BoldItalic.woff")
      format("woff"),
    url("app/assets/fonts/hinted-subset-Finlandica-BoldItalic.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Finlandica";
  src: url("app/assets/fonts/hinted-subset-Finlandica-Bold.woff2")
      format("woff2"),
    url("app/assets/fonts/hinted-subset-Finlandica-Bold.woff") format("woff"),
    url("app/assets/fonts/hinted-subset-Finlandica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Finlandica";
  src: url("app/assets/fonts/hinted-subset-Finlandica-Italic.woff2")
      format("woff2"),
    url("app/assets/fonts/hinted-subset-Finlandica-Italic.woff") format("woff"),
    url("app/assets/fonts/hinted-subset-Finlandica-Italic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Finlandica";
  src: url("app/assets/fonts/hinted-subset-Finlandica-Regular.woff2")
      format("woff2"),
    url("app/assets/fonts/hinted-subset-Finlandica-Regular.woff") format("woff"),
    url("app/assets/fonts/hinted-subset-Finlandica-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Finlandica", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: initial;
  color: #25a898;
}
a:hover {
  cursor: pointer;
  text-decoration: initial;
  color: #30c2b0;
}

* {
  outline: 1px solid #1f74a2;
}
